@model IEnumerable<QuickFind.Areas.IowaOnline.Models.IowaOnlineChild>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeThen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeNow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginatingAgency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeThen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeNow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginatingAgency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
